* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgba(21, 112, 216, 0.938);
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  text-decoration: solid;
}

img {
  display: inline-block;
  width: 20%;
  cursor: pointer;
}

img:hover {
  transform: translateY(7px);
}

.moves {
  position: relative;
  text-align: center;
  margin-top: 10%;
}

.moves img {
  background-color: white;
  border: 0.5rem solid rgb(10, 9, 9);
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  height: max(35%);
  width: max(20%);
}

.text {
  font-size: 1.5rem;
  background-color: rgb(83, 196, 190);
  font-style: oblique;
  text-align: center;
  margin-top: 2%;
}